@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
p { font-family: 'Josefin Sans', sans-serif; font-size: 19px; }
.quote { color: rgb(219,225,32); font-family: 'Josefin Slab', serif; font-size: 70px; font-weight: 700; line-height: 2em; }
